[Desktop Entry]
Name=Thunderbird
Comment=Send and receive mail with Thunderbird
Comment[zh_CN]=阅读邮件或新闻
GenericName=Mail Client
GenericName[zh_CN]=邮件新闻客户端
Exec=/usr/lib/thunderbird/thunderbird %u
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=ComposeMessage;OpenAddressBook;
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Desktop Action ComposeMessage]
Name=Write new message
Name[zh_CN]=编写新消息
Exec=/usr/lib/thunderbird/thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Name[zh_CN]=打开通讯录
Exec=/usr/lib/thunderbird/thunderbird -addressbook
